html {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  line-height: 1.25;
}

section {
  padding: 2rem 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h1, h2, h3 { margin: 1.5rem 0 0.75rem; }
p { margin: 0.75rem 0; }
h1 { font-size: 1rem; margin: 0 0 2rem; font-weight: bold; text-transform: uppercase;  padding-bottom: 1.25rem; border-bottom: 1px solid #000; }
h2 { font-size: 1rem; margin: 1.5rem 0 0.75rem; font-weight: bold; }
h3 { font-size: 1rem; margin: 1.5rem 0 0.75rem; font-weight: normal; font-style: italic; }