.hero {
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 4.5rem 0 4rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.hero :global(.container) {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-left: 4rem;
  padding-right: 4rem;
}

@media (min-width: 992px) {
  .hero {
    padding: 5rem 0 4rem;
  }

  .hero :global(.container) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
