.section {
  padding: clamp(4.75rem, 8vw, 6.5rem) 0;
}

.imageWrapper {
  max-width: 620px;
  margin: 0 auto;

  @media (min-width: 992px) {
    max-width: 680px;
  }
}

.textCol {
  margin-top: 2rem;

  @media (min-width: 992px) {
    margin-top: 0;
    padding-left: 3rem;
  }
}


.list {
  list-style: disc;
  padding-left: 1.2rem;
  margin-bottom: 0;

  li {
    margin-bottom: 0.3rem;
    font-weight: 400;
  }
}

.checkIcon {
  display: none;
}

.checkIcon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #10c4c4;
  color: #fff;
  font-weight: 700;
}
