.wrapper {
  background-color: #fd3a58;
  padding: 4rem 0;
}

.eyebrow {
  color: #faf0b6;
}

.content {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.icon {
  width: 56px;
  height: 56px;
  object-fit: contain;
  margin: 0 auto 1rem;
  display: block;
}
