.intro {
  padding: 2.5rem 0 2rem;
}

.light {
  background-color: #f5f5f5;
}

@media (max-width: 767px) {
  .intro {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .intro :global(.container) {
    padding-left: 0;
    padding-right: 0;
  }

  .copy {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 992px) {
  .intro {
    padding: 3.5rem 0 2.5rem;
  }
}
