.hero {
  min-height: 480px;
  overflow: hidden;

  @media (max-width: 575.98px) {
    min-height: 420px;
  }

/*   @media (min-width: 992px) {
    min-height: 520px;
  } */
}

.content {
  @media (min-width: 1200px) {
    padding-left: 4rem;
  }
}

.heroCta {
  --btn-pill-scale: 1.2;
  --btn-pill-padding-x: 2.2rem;
}

.background {
  object-fit: cover;
  z-index: -2;
}

.supportList {
  li {
    font-weight: 600;
  }
}

.bullet {
  color: #10c4c4;
  font-size: 1.5rem;
  line-height: 1;
}

